/* CSS Global */

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100%;
  scroll-behavior: smooth;
}

::selection {
  @apply bg-brand-500 text-white;
}

.container {
  @apply flex items-center w-full max-w-6xl mx-auto px-8;
}

.upAndDown {
  animation: spin 1s infinite ease;
  animation-direction: alternate;
}

.titulo {
  font-size: 3000px;
}

.clippy {
  clip-path: polygon(52% 8%, 100% 0, 100% 100%, 38% 100%);
}

@keyframes spin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

/* Swiper CSS */
.swiper-container {
  width: 100%;
  height: 28vw;
  transition: opacity 0.6s ease;
  &.swiper-container-coverflow {
    padding-top: 2%;
  }
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

/* .swiper-wrapper {
} */

/* .swiper-slide {
  background-position: center;
  
  .slide-inner {
  }
  .entity-img {
    display: none;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
    }
  }
} */

/* [class^='swiper-button-'] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 0.4;
      @extend %transition_all_03s;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0px solid #fff;
        border-radius: 50%;
        @extend %transition_all_03s;
      }
      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
      &.swiper-pagination-bullet-active {
        &::before {
          border-width: 1px;
        }
      }
    }
  }
} */

/* Mediaqueries (caso necessário) */
/* @media (max-width: 1180px) {
  .swiper-slide {
    .content {
      .title {
        font-size: 25px;
      }
      .caption {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
    &.swiper-container-coverflow {
      padding-top: 0;
    }
  }
} */

.swipper {
  position: relative;
  max-width: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

#container-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 15;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-height: 400px;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #ebb305;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev-custom {
 left: 15px;
}

.swiper-button-prev-custom svg {
  width: 50px;
  transform: rotate(-90deg)
}

.swiper-button-next-custom {
  right: 15px;
 }

.swiper-button-next-custom svg {
  width: 50px;
  transform: rotate(90deg)
}
